
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BadRequest</title>
</head>
<body>
    <div>
        <h1>
            Error 400
        </h1>
        <h2>
            Bad Request!
        </h2>
        <a href="@Url.Action("Index",new { controller="Products" })">Back to home</a>
    </div>
</body>
</html>
